* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */
:root {
    --header-bg: #10375c;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 205px;
    height: 60px;
    line-height: 60px;
    border-radius: 999px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    background: #2e80ce;
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
}
/* Header */

.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::after,
.logo__circle::before {
    display: inline-block;
    content: "";
    border-radius: 50%;
}

.logo__circle {
    position: relative;
}

.logo__circle::after {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::before {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 6px;
    text-align: right;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
}

.logo__brand--smail {
    font-size: 1.2em;
    font-weight: 300;
}

/* navbar */
.navbar__list {
    display: flex;
}
.action__login,
.navbar__link {
    display: inline-block;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link {
    padding: 4px 21px;
}
.action__login:hover, 
.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active {
    display: flex;
    align-items: center;
}

.navbar__link--active::before {
    /* position: relative;
    top: -2px;
    left: -8px; */
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
}

.action__signup {
    margin-left: 28px;
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}